Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.so
Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib
iOS/Libraries/libiPhone-lib.a
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.bundle
