# Sistema e IDE
.vs/
.vscode/
.idea/
.DS_Store*
Thumbs.db
Desktop.ini

# Unity
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.app
*.unitypackage
~UnityDirMonSyncFile~*

# Ferramentas específicas do projeto
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.bundle
Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib
iOS/Libraries/libiPhone-lib.aAssets/Firebase/Plugins/x86_64/FirebaseCppApp*
Library/PackageCache/**/*.dylib
iOS/Libraries/*.a
